@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root {
    /* Colors */
    --color-primary: #EBE6DC;
    --color-secondary: #BCC6BC;
    --color-accent: #E1C6B9; 
    --color-font: #35342F;
}
body{
    background-color: var(--color-primary);
    font: var(--color-font);
}
h1{
    font-family: 'Inter', sans-serif;
}
.greenback{
    background-color: var(--color-secondary);
    position:fixed;
    padding:0;
    margin:0;
    width: 66vw;
    height:100vh;
    left:0px;
    top:0px;
    z-index: -1;
}