@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root {
    /* Colors */
    --color-primary: #EBE6DC;
    --color-secondary: #BCC6BC;
    --color-accent: #E1C6B9; 
    --color-font: #35342F;

    --font-main: 'Inter', sans-serif;
}
body{
    background-color: var(--color-primary);
    font: var(--color-font);
}
h1{
    font-family: 'Inter', sans-serif;
}
html{
    padding: 0px;
    margin: 0px;
    border: 0px;
}
.greenback{
    background-color: var(--color-secondary);
    position:fixed;
    padding:0;
    margin:0;
    width: 66vw;
    height:100vh;
    left:0px;
    top:0px;
    z-index: -1;
}

.menu{
    display: flex;
    justify-content: flex-end;
    flex-basis: 33.33%;
    gap:5vw;
    margin-top: auto;
    margin-bottom: auto;
}

.menu-items{
    text-align: right;
}
.menu-item:hover{
    text-decoration: underline;
}
.logo{
    flex-grow:1;
    margin-right:auto;
    font-size:30px;
}

a{
    color: var(--color-font);
    text-decoration: none;
}

header{
    vertical-align: middle;
    display: flex;
    align-items: center;
    line-height: 4rem;
    font-size: 24px;
    font-family: var(--font-main);
    font-weight: bold;
    margin-left:5vw;
    margin-right:5vw;
    padding-top: 2vh;
}
.github{
    height: 60px; 
    vertical-align: baseline;
}

.hero{
    margin-top:5rem;
    margin-bottom:5rem;
    margin-left:13vw;
    margin-right:13vw;
    display:flex;
    justify-content: space-between;
    font: 2rem / 1.6 var(--font-main);
}

.hero h1{
    font-size: 36px;
    font-family: var(--font-main);
    font-weight:normal;
    margin-bottom:1.5vh;
}

.hero-text{
    width:50%;
    font-weight: normal;
    margin-top: auto;
    margin-bottom:auto;
    padding-bottom:7vh;
}

.hero-image{
    align-self: flex-end;
}
h5{
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    width:80%;
    margin-top:0px;
    margin-bottoM:1.5vh;
}

a.button-link{
    display: inline-block;
    font-size:1rem;
    text-align: center;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--color-accent);
    text-decoration: none;
    align-content: center;
    font-weight: 500;
    font-size: 20px;
}